/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	// &:visited {
	// 	color: $color__link-visited;
	// }
	// &:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: flex;
	float: left;
	width: 100%;
	margin-bottom: 2rem;
	a {
		border-right: 1px solid white;
		padding-right: 1rem;
		padding-left: 1rem;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

.header-search {
	line-height: 1;
	width: 1rem;
	// padding-left: 1.5rem;
	label {
		// display: none;
		float: left;
		margin: 0;
	}
    fieldset {
        padding: 0;
    }
    .search-toggle {

        // float: left;
        // padding-top: .33rem;
    }
    input[type=search] {
        border: 0;
        // background: transparent;
        font-family: Exo Web,sans-serif;
        // margin-left: .75rem;
        padding: 0 .3rem;
		text-transform: uppercase;
    }
}

/* site title */
.site-title-container{
	display: flex;
	// justify-content: space-around;
}

.site-branding{
	a {
		display: block;
		text-decoration: none;
	}
	.site-title-1{
		a{
			color: #fff;
			
		}
	}
	.site-title-2{
		a{
			color: $color__green-main;
			padding-left: .5rem;
		}
	}
	.site-title-3{
		a{
			color: #fff;
			padding-left: .5rem;
		}		

	}
}
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
